<div class="container">
    <form id="contact" action="" method="post" name="formulario1">
      <h3>Taller Base de datos UNIVALLE</h3>
      <h4>Insertar Pacientes</h4>
      <fieldset>
        <input placeholder="Nombre Paciente" name="nombre" type="text" tabindex="1" required autofocus>
      </fieldset>
      <fieldset>
        <input placeholder="Apellido Paciente" name="apellido" type="text" tabindex="1" required autofocus>
      </fieldset>
      <fieldset>
        <input placeholder="Id Paciente" name="identificacion" type="number" tabindex="2" required />
      </fieldset>
      <fieldset>
        <button name="send" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
      </fieldset>
    </form>
  </div>