<div class="container">
    <form id="contact" name="formulario2">
      <h3>Taller Base de datos UNIVALLE</h3>
      <h4>Actualizar Pacientes</h4>
      <fieldset>
        <input placeholder="Nombre Paciente" name="nombre" type="text" tabindex="1" required />
      </fieldset>
      <fieldset>
        <input placeholder="Apellido Paciente" name="apellido" type="text" tabindex="1" required />
      </fieldset>
      <fieldset>
        <input placeholder="Id Paciente" name="identificacion" type="number" tabindex="2" required />
      </fieldset>
      <fieldset>
        <button name="update" type="submit" id="contact-update" data-submit="...Updating">Update</button>
      </fieldset>
    </form>
  </div>
